/.DS_Store
/.localized
/Artboard 176.png
/Artboard 177.png
/Billeder:videoer
/Insp tøj:design:grafik
/July Studio
/KEA
/Mockup.pdf
/Musica
/Praktisk
/Skærmbillede 2021-07-19 kl. 14.42.47.png
/Skærmbillede 2021-09-21 kl. 08.43.48.png
/Skærmbillede 2021-09-21 kl. 08.57.05.png
/Skærmbillede 2021-09-26 kl. 21.03.55.png
/Untitled Project.aep
/creative
/fly-d-0zvkTWsXJQE-unsplash.jpg
/letsgo
/prototype.dn
/steve-johnson--BP4qPfycSM-unsplash.jpg
/~$.02.02_prototype_1_juliechristensen.docx
/~$artpitch.docx
/~$disgter.docx
/~$terviewguide.docx